<div class="has-text-centered">
  <h2 class='is-size-2'>新規投稿</h2>

  <%= form_with model: @board, local: true do |f| %>
    <% if @board.errors.any? %>
      <article class="message is-danger">
        <div class="message-body">
          <%= render 'shared/error_messages', object: f.object %>
        </div>
      </article>
    <% end %>

    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, placeholder: "タイトル" %>

    <%= f.label :body, '内容' %>
    <%= f.text_area :body, placeholder: "不幸な思い出"%>

    <%= f.submit '送信'%>
  <% end %>
</div>