<h2 class='is-size-3'>新規投稿</h2>

<%= form_with model: @board, local: true do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title, placeholder: "タイトル" %>

  <%= f.label :body, '内容' %>
  <%= f.text_area :body, placeholder: "不幸な思い出"%>

  <%= f.submit '送信'%>
<% end %>

<div class="buttons">
  <%= link_to '一覧画面', boards_path, class: "button" %>
</div>