<div class="has-text-centered">
  <h2 class='is-size-2 m-5'>新規投稿</h2>

  <%= form_with model: @board, local: true do |f| %>
    <% if @board.errors.any? %>
      <article class="message is-danger">
        <div class="message-body">
          <%= render 'shared/error_messages', object: f.object %>
        </div>
      </article>
    <% end %>


    <div class="form">
    <%= f.label :title, 'タイトル', class: "is-size-3" %><br>
    <%= f.text_field :title, placeholder: "タイトル", size: "40", class: "is-size-4" %><br>

    <br>

    <%= f.label :body, '内容', class: "is-size-4" %><br>
    <%= f.text_area :body, placeholder: "不幸な思い出", size: "40x10", class: "is-size-4" %><br>
    </div>
    <%= f.submit '投稿する' %>
  <% end %>
</div>