<h1 class='is-size-1'>不幸自慢</h1>
<h2 class='is-size-3'>-同情するなら金をくれ!!-</h2>

<%= form_with model: @board, local: true do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title, placeholder: "タイトル" %>

  <%= f.label :body, '内容' %>
  <%= f.text_area :body, placeholder: "不幸な思い出"%>

  <%= f.submit '送信'%>
<% end %>