<div class="has-text-centered">
  <h1 class='is-size-1 m-3'>詳細画面</h1>
  <p class="sum is-size-3">この不幸自慢は合計で<br>
    <font size="+5">
      <span id="js-board-likes-<%= @board.id %>"><%= @board.likes %></span>
    </font>
    円もらいました！
  </p>


  <div class="box">
    <div class="field">
      <div class="content">
        <h2 class='is-size-3 mt-2'>タイトル</h2>
        <p><%= simple_format(@board.title) %></p>

        <h2 class='is-size-3 m-5'>内容</h2>
        <p><%= simple_format(@board.body) %></p>

        <div class='twitter-button button is-focused'>
          <%= link_to "https://twitter.com/intent/tweet?url=https://fuko-ziman.herokuapp.com/boards/#{@board.id}&text=不幸自慢【#{@board.title}】を投稿しました。%0a同情するならお金ください！%20&hashtags=不幸自慢,同情するなら金をくれ,不幸,お金&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer'  do %>
            <i class="fab fa-twitter share-button"></i>
            twitterにシェア
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to board_likes_path(@board), class: "level-item", method: :post, remote: true do %>
    <button class="btn-circle-3d-emboss button is-large fas fa-yen-sign mt-5">100</button>
  <% end %>
</div>